<h1>Editing user</h1>

<% form_for(@user) do |f| %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :lunch_bucks %><br />
    <%= f.text_field :lunch_bucks %>
  </p>
  <p>
    <%= f.radio_button :gender, 'male' %><%= f.label 'gender_male', 'Male' %><br />
    <%= f.radio_button :gender, 'female' %><%= f.label 'gender_female', 'Female' %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>