<h1>New user</h1>

<% form_for(@user) do |f| %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :lunch_bucks %><br />
    <%= f.text_field :lunch_bucks %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>