<div id="gallery">
  <div id="prev_arrow">    
  </div>

  <div id="next_arrow">
  </div>
  
  <ul class='gallery_items'>
    <% if !gallery_items.nil? -%>
      <% for gallery_item in gallery_items -%>
        <li class='gallery_item'>
          <input type='hidden' name='id' value="<%= gallery_item[:id] -%>">
          <p class='name'><%= gallery_item[:name] -%></p>
          <img class='item_image' src='<%= gallery_item[:image_url] -%>' />
          <p class='subtext'><%= gallery_item[:subtext] -%></p>
          <% if !gallery_item[:links].empty? -%>
            <% gallery_item[:links].each_key do |key| -%>
              <p class='link'><a href='<%= gallery_item[:links][key] -%>' target='_blank'><%= key -%></a></p>
            <% end -%>
          <% else -%>
          <% end -%>
        </li>
      <% end -%>
    <% else -%>
      <!-- add code here for empty galleries -->
    <% end -%>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(Gallery.init);
</script>