<% if @lunch.can_be_ordered_now? -%>

	<% form_for(@order) do |f| %>
	  <%= f.error_messages %>  
		<%= hidden_field_tag :user_hash, current_user.user_hash %>
	  <p>
	    <%= @current_user.email %>
	  </p>
	  <p>
	    <%= f.label :description, 'Enter your order below' %><br />
	    <%= f.text_area :description %>
	  </p>
	  <p>
	    <%= f.submit 'Submit Order' %>
	  </p>
	<% end %>

<% else -%>
	Yo buddy, you must place your order before 11am.  Sorry :-(
	<div id="sadtrombone"></div>
<% end -%>