<% if Time.now > Chronic.parse('Today at 11am') -%>

	<% form_for(@order) do |f| %>
	  <%= f.error_messages %>
  
	  <p>
	    <%= @current_user.email %>
	  </p>
	  <p>
	    <%= f.label :description, 'Enter your order below' %><br />
	    <%= f.text_area :description %>
	  </p>
	  <p>
	    <%= f.submit 'Submit Order' %>
	  </p>
	<% end %>

<% else -%>
	Yo buddy, you must place your order before 11am.  Sorry :-(
<% end -%>