<% form_for(@proposal) do |f| %>
  <%= f.error_messages %>
  
  <p>
    User:  <%= @current_user.email %>
  </p>
  <p>
    <%= f.label :lunch_id %><br />
    <%= f.text_field :lunch_id %>
  </p>
  <p>
    <%= f.label :restaurant_id %><br />
    <%= f.text_field :restaurant_id %>
  </p>
  <p>
    <%= f.label :votes %><br />
    <%= f.text_field :votes %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
