<p>
  <b>Lunch:</b>
  <%=h @proposal.lunch_id %>
</p>

<p>
  <b>User:</b>
  <%=h @proposal.user_id %>
</p>

<p>
  <b>Restaurant:</b>
  <%=h @proposal.restaurant_id %>
</p>

<p>
  <b>Votes:</b>
  <%=h @proposal.votes %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>