<h1>Editing lunch</h1>

<% form_for(@lunch) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :occuring_on %><br />
    <%= f.date_select :occuring_on %>
  </p>
  <p>
    <%= f.label :winning_proposal_id %><br />
    <%= f.text_field :winning_proposal_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @lunch %> |
<%= link_to 'Back', lunches_path %>